.button-container {
    display: flex;
    justify-content: center;
}
  
.button {
    background-color: #000;
    /* background-color: #1818de; */
    color: #FFF;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.button h1 {
    font-weight: bold;
    font-size: 40px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
  
.button .eye {
    margin-left: auto;
}