<ion-header>
  <ion-toolbar>
    <ion-title>VisionAI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Hold your face in front of your webcam to get real-time face landmarker detection. Click <b>enable webcam</b> below and grant access to the webcam if prompted. Face should be parallel/level with camera and environment should be well lit.</p>

  <div id="liveView" class="videoView">
    <ion-button id="webcamButton" expand="block" (click)="enableCam()">
      ENABLE WEBCAM
    </ion-button>
    <div style="position: relative;">
      <video #webcam id="webcam" autoplay playsinline></video>
      <canvas #outputCanvas class="output_canvas" id="output_canvas" style="position: absolute; left: 0; top: 0;"></canvas>
    </div>
  </div>
</ion-content>
