#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.title {
  font-weight: bold;
  font-size: 50px;
}

.app-description {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
  /* padding-top: 30px; */
}

.home-button {
  background-color: #000;
  color: #FFF;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-button h1 {
  font-weight: bold;
  font-size: 40px;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.home-button .eye {
  margin-left: auto;
}
