.container {
  flex: 1;
  background-color: #fff;
}

.title {
  margin-top: 50px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.titleContainer {
  justify-content: center;
  align-items: center;
}

.centerText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testIcon {
  display: flex;
  margin-top: 50px;
  /* font-size: 70px; */
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.icons-div {
  display: flex;
  justify-content: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ion-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Adjust as needed, e.g., space-between, space-evenly */
  align-items: center; /* Align items vertically */
}

.text {
  font-weight: bold;
  color: #fff;
}

.button-container {
  display: flex;
  justify-content: center;
}

.speech-button {
  background-color: #000;
  /* background-color: #1818de; */
  color: #FFF;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.speech-button h1 {
  font-weight: bold;
  /* font-size: 40px; */
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.button .eye {
  margin-left: auto;
}

.speech-next-button {
  background-color: #000;
  /* background-color: #1818de; */
  color: #FFF;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.speech-next-button h1 {
  font-weight: bold;
  /* font-size: 40px; */
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.speech-end-button {
  background-color: #000;
  /* background-color: #1818de; */
  color: #FFF;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.speech-end-button h1 {
  font-weight: bold;
  /* font-size: 40px; */
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.speech-button-container {
  margin-top: 20px;
  margin-bottom: 30px;
}

.speech-next-button-container {
  margin-bottom: 30px;
}

.speech-end-button-container {
  margin-bottom: 30px;
}