.container {
    flex: 1;
    background-color: #fff;
  }
  
  .title {
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }
  
  .titleContainer {
    justify-content: center;
    align-items: center;
  }
  
  .centerText {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .testText {
    display: flex;
    margin-top: 50px;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    letter-spacing: 30px;
    margin-right: -30px;
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ion-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Adjust as needed, e.g., space-between, space-evenly */
    align-items: center; /* Align items vertically */
  }

  .testImages {
    margin: 0 2.5px; /* Add some margin between images */
    font-size: 60px; /* Apply the font size here */
  }

 
  
  .buttonContainer {
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .button {
    background-color: #000;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold;
  }
  
  .text {
    font-weight: bold;
    color: #fff;
  }