.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: tomato;
  }
  
  .header header {
    display: flex;
    align-items: center;
    flex: 1;
  }
  
  .header-text {
    font-size: 24px;
    font-weight: bold;
    margin: auto;
  }
  
  .header .arrow {
    position: absolute;
    left: 10px;
    margin-right: 10px; 
  }
  