.PreTest {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100%; /* This ensures the container takes up the full height of the viewport */
}

.webcam {
  width: 640px; /* Adjust as needed */
  height: 480px; /* Adjust as needed */
}

.webcam-canvas {
  /* width: 100%;  */
  height: 90%; /* Make the canvas fill the container */
}

.canvas-style {
  font-size: 100px;
}
